html { font-size: 12px; }
.userinfo table { margin-top: 8px; }
/*iPad Pro宽度*/
@media(max-width:1024px) {
    html { font-size: 12px; }
}
/*iPad宽度*/
@media(max-width:768px) {
    html { font-size: 12px; }
}
/*Android常用宽度：华为荣耀平板JDN-W09*/
@media(max-width:600px) {
    html { font-size: 12px; }
}
/*Android常用宽度*/
@media(max-width:540px) {
    html { font-size: 12px; }
}
/*Android常用宽度*/
@media(max-width:480px) {
    html { font-size: 12px; }
}
/*i6Plus,i7Plus宽度*/
@media(max-width:414px) {
    html { font-size: 12px; }
}
/*Android常用宽度:小米Note3,Mix2S宽度*/
@media(max-width:393px) {
    html { font-size: 12px; }
}
/*i6,i7宽度*/
@media(max-width:375px) {
    html { font-size: 11px; }
    .userinfo table { margin-top: 10px; }
}
/*Android常用宽度:荣耀9*/
@media(max-width:360px) {
    html { font-size: 11px; }
}
/*i5宽度*/
@media(max-width:320px) {
    html { font-size: 10px; }
    .userinfo table { margin-top: 12px; }
}
